<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="formgroup">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="formgroup">
          <label for="content">Contenu</label>
          <input type="text" class="form-control" id="content" formControlName="content">
        </div>
        
            <button class="btn btn-success"
                    type="submit"> Enregistrer
            </button>

    </form>
  </div>
</div>

