<div class="col-xs-12">  
<li  [ngClass]="{'list-group-item': true,
                  'list-group-item-success': postloveIts > 0,
                  'list-group-item-danger': postloveIts < 0}">
<h4 [ngStyle]="{color: getColor()}">{{ postTitle }}  {{ lastUpdate | async | date: 'short'  }} </h4>
{{ postContent }}

    
    
<button class="btn btn-success" (click)="loveIts()">{{ postloveIts }} Like It ! </button>
<button class="btn btn-danger" style="margin-left:15px" (click)="dontloveIt()">{{ postloveIts }} Don't Like ! </button>
    

    <button class="btn btn-default pull-right" (click)="onDeletePost(posts)">
            <span class="glyphicon glyphicon-minus"></span>
    </button>

</li>
</div>





<!--
<div class="list-group">
    <button
        class="list-group-item"
        *ngFor="let post of posts; let i = index" >
        <h3 class="list-group-item-heading">
        {{ post.title }} {{ lastUpdate | async | date: 'short'  }}
        <button class="btn btn-default pull-right" (click)="onDeletePost(posts)">
            <span class="glyphicon glyphicon-minus"></span>
    </button>
        </h3>
        <p>{{ post.content }} </p>
           
      
<button class="btn btn-danger" style="margin-left:15px" (click)="dontloveIt()">{{ post.loveIts}} Don't Like ! </button>
<button class="btn btn-success" (click)="loveIts()">{{ post.loveIts }} Like It ! </button>
    </button>

    <button class="btn btn-primary"
            (click)="onSave()">Enregistrer les posts</button>
    <button class="btn btn-primary"
            (click)="onFetch()">Récupérer les Posts</button>

     
</div>

boucle
-->